<div>
    <div>
<h1>Customer Form</h1>
<div>
                <h1>New Product </h1>
                <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm.value)" class="border">
                <table>
                <tr>
                    <td><label>FirstName:</label></td>
                    <!--<td><input type="text" name="firstName"  [(ngModel)]="model.firstName" ></td>-->
                    <input type="text" name="firstName" [ngModel]="model.firstName"
                                       required minlength="3" maxlength="12" #firstName="ngModel">
                    <small [hidden]="firstName.valid || (firstName.pristine && !customerForm.submitted)">
                                    FirstName is required (minimum 3 characters).
                    </small>
                </tr>
                 
                <tr>
                    <td><label>LastName:</label></td>
                    <td><input type="text" name="lastName"  [(ngModel)]="model.lastName"></td>
                </tr>
                <tr>
                      <td><label>Email:</label></td>
                      <!--<td><input type="email" name="email"  [(ngModel)]="model.email"></td>-->
                      <input type="email" name="email" [ngModel]="model.email"
                       required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" #email="ngModel">
                       <small [hidden]="email.valid || (email.pristine && !customerForm.submitted)">
                           Email is Required and format should be <i>rahul@gmail.com</i>.
                       </small>
                </tr>
                <tr>
                    <td> <label>BirthDate:</label></td>
                    <td><input type="text" name="birthDate"  [(ngModel)]="model.birthDate"></td>
                </tr>
                <tr>
                    <td> <label>Age:</label></td>
                    <td><input type="text" name="age"  [(ngModel)]="model.age"></td>
                </tr>
                <tr>
                    <td><label>PhoneNo:</label></td>
                    <td><input type="text" name="phoneNo"  [(ngModel)]="model.phoneNo"></td>
                </tr> 

                 <tr>
                    <td><label>Location:</label></td>
                    <select class="form-control" id="location" required [(ngModel)]="model.location" name="location" #location ="ngModel" >
                        <option *ngFor = "let loc of locations" [value]="loc">{{loc}}</option>
                        </select>
                        <div [hidden]="location.valid || location.pristine">
                            Location is Required

                            </div>
                </tr> 

<tr>
    <td><label>Membership:</label></td>
    <div *ngFor="let memberShip of memberShips">
        <label>
            <input type="radio" name="memberShip" [(ngModel)]="model.memberShip" [value]="memberShip.value"> 
            {{memberShip.display}}
        </label>
    </div>
    </tr>

    <tr>
    <td><label>Status</label></td>
    <input type="checkbox" name="IsRegistered" [(ngModel)]="model.isRegistered" value='false'>IsRegistered<br>
    
    </tr>

    <tr>
    <td><label>Source Of Information:</label></td>
    <select multiple name="social" [(ngModel)]="model.socialStatus">
        <option *ngFor="let socialData of social" [value]="socialData.value">
            {{socialData.display}}
    </select>
    </tr>

    <tr>
        <div>
            <label>Password</label>
             <input type="password" name="password" [(ngModel)]="model.password" 
             required validateEqual="confirmPassword" reverse="true" #password="ngModel">
              <small [hidden]="password.valid || (password.pristine && !customerForm.submitted)">
                                    Password is required
                    </small>
            </div>

            <div>
            <label>Retype Password</label>
             <input type="password" name="confirmPassword" [(ngModel)]="model.confirmPassword" 
             required validateEqual="password" reverse="false"  #confirmPassword="ngModel">
              <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !customerForm.submitted)">
                                    Password mismatch
              </small>
            </div>
    </tr>

    <tr>
       <td><button type="submit" [disabled] = "!customerForm.form.valid">Add Customer</button> </td>
       <td><button type="submit">Reset</button> </td>
    </tr>
  </table>
</form>
</div>
        </div>
        </div>