 <div >
  <h2 >Demo Form: New Fertilizer</h2>
  <form #f="ngForm" (ngSubmit)="submit(f.value)" >


<div>
      <label for="titleInput">Climate ID : </label>
      <input type="text" id="titleInput" placeholder="ClimateID" name="climateId" ngModel>
    </div>

    <div>
      <label for="day">Day : </label>
      <input type="text" id="day" placeholder="Enter day" name="day" ngModel>
    </div>

    <div>
      <label for="month">Month : </label>
      <input type="text" id="day" placeholder="Enter month" name="month" ngModel>
    </div>

    <div>
      <label for="year">Year : </label>
      <input type="text" id="day" placeholder="Enter year" name="year" ngModel>
    </div>

    <div>
      <label for="hour">Hour : </label>
      <input type="text" id="day" placeholder="Enter hour" name="hour" ngModel>
    </div>

    <div>
      <label for="minute">Minute : </label>
      <input type="text" id="minute" placeholder="Enter minute" name="minute" ngModel>
    </div>

    <div>
      <label for="temperature">Temperature : </label>
      <input type="text" id="chemicalformulaInput" placeholder="Enter Temperature"name="temperature" ngModel>
    </div>

    <div>
      <label for="humidity">Humidity : </label>
      <input type="text"id="humidity" placeholder="enter humidity" name="humidity" ngModel>
    </div>

    <div>
      <label for="light">Light : </label>
      <input type="text" id="light" placeholder="enter light" name="lightN" ngModel>
    </div>

     <div>
      <label for="windSpeed">WindSpeed : </label>
      <input type="text" id="windSpeed" placeholder="enter windSpeed" name="windSpeed" ngModel>
    </div>

     <div>
      <label for="CO2">CO2 : </label>
      <input type="text" id="CO2" placeholder="enter CO2" name="co2" ngModel>
    </div>

     <div>
      <label for="SoilMoisture">SoilMoisture : </label>
      <input type="text" id="SoilMoisture" placeholder="enter SoilMoisture" name="soilMoisture" ngModel>
    </div>

     <div>
      <label for="ph">PH : </label>
      <input type="text" id="KInput" placeholder="PH" name="ph" ngModel>
    </div>

     <div>
      <label for="ec">EC : </label>
      <input type="text" id="ec" placeholder="enter ec" name="ec" ngModel>
    </div>

    
    <button type="submit">Submit</button>
  </form>
</div>