                     <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    
                    <li> <a [routerLink]="['/home']">Home</a></li>
                    <li> <a [routerLink]="['/greenhouse']">Greenhouse</a></li>
                    <li> <a [routerLink]="['/diseaselist']">DiseaseList</a></li>
                    <li> <a [routerLink]="['/croplist']">Greenhouse Crops</a></li>
                    <li> <a [routerLink]="['/nutritiondeficiencylist']">Nutrition Deficiency List</a></li>
                    <li> <a [routerLink]="['/fertilizerlist']">Fertilizer List</a></li>
                    <li> <a [routerLink]="['/environment']">Environment</a></li>   
                    <li> <a [routerLink]="['/pesticides']">Pesticides</a></li>
                    <li> <a [routerLink]="['/ingredients']">Ingredients</a></li>
                    <li> <a [routerLink]="['/yieldlist']">Yields</a></li>
                    <li> <a [routerLink]="['/irrigation']">Irrigation</a></li>
                    <li> <a [routerLink]="['/tankSchedule']">TankSchedule</a></li>
                    <li> <a [routerLink]="['/tank']">Tank</a></li>
                    <li> <a [routerLink]="['/pests']">Pest</a></li>
                    <li> <a [routerLink]="['/inventory']">Inventory</a></li>
                    <li> <a [routerLink]="['/task']">Task</a></li>
                    <li> <a [routerLink]="['/solution']">Solution</a></li>
                 
                </ul>

             
         
                     </div>
                       <div id="content">
                        <div class="container">
                            <router-outlet></router-outlet>
                        </div>
 
 