<div >
  <h2 >Demo Form: New Fertilizer</h2>
  <form #f="ngForm" (ngSubmit)="submit(f.value)" >


<div>
      <label for="titleInput">Fertilizer ID : </label>
      <input type="number" id="titleInput" placeholder="Enter Fertilizer ID here" name="FertilizerId" ngModel>
    </div>

    <div>
      <label for="titleInput">Fertilizer Name : </label>
      <input type="text" id="titleInput" placeholder="Enter Fertilizer name here" name="name" ngModel>
    </div>

    <div>
      <label for="chemicalFormula">Chemical Formula : </label>
      <input type="textarea" id="chemicalformulaInput" placeholder="Enter Chemical Formula"name="chemicalFormula" ngModel>
    </div>

    <div>
      <label for="DescriptionInput">Description : </label>
      <input type="text"id="DescriptionInput" placeholder="enter Description" name="description" ngModel>
    </div>

    <div>
      <label for="NInput">N : </label>
      <input type="number" id="NInput" placeholder="enter N" name="N" ngModel>
    </div>

     <div>
      <label for="PInput">P : </label>
      <input type="number" id="PInput" placeholder="enter P" name="P" ngModel>
    </div>

     <div>
      <label for="KInput">K : </label>
      <input type="number" id="KInput" placeholder="enter K" name="K" ngModel>
    </div>

     <div>
      <label for="KInput">Ca : </label>
      <input type="number" id="KInput" placeholder="enter Ca" name="Ca" ngModel>
    </div>

     <div>
      <label for="KInput">Mg : </label>
      <input type="number" id="KInput" placeholder="enter Mg" name="Mg" ngModel>
    </div>

     <div>
      <label for="KInput">Cl : </label>
      <input type="number" id="KInput" placeholder="enter Cl" name="Cl" ngModel>
    </div>

     <div>
      <label for="KInput">S : </label>
      <input type="number" id="KInput" placeholder="enter S" name="S" ngModel>
    </div>
     <div>
      <label for="KInput">Cu : </label>
      <input type="number" id="KInput" placeholder="enter Cu" name="Cu" ngModel>
    </div>
     <div>
      <label for="KInput">Mn : </label>
      <input type="number" id="KInput" placeholder="enter Mn" name="Mn" ngModel>
    </div>
     <div>
      <label for="KInput">B : </label>
      <input type="number" id="KInput" placeholder="enter B" name="B" ngModel>
    </div>
     <div>
      <label for="KInput">Zn : </label>
      <input type="number" id="KInput" placeholder="enter Zn" name="Zn" ngModel>
    </div>
     <div>
      <label for="KInput">Fe : </label>
      <input type="number" id="KInput" placeholder="enter Fe" name="Fe" ngModel>
    </div>
     <div>
      <label for="KInput">Na : </label>
      <input type="number" id="KInput" placeholder="enter Na" name="Na" ngModel>
    </div>



    <button type="submit">Submit</button>
  </form>
</div>