<h1>
  Set Greenhouse Environment 
</h1>

<style>
table,td,td
{
     border: 1px solid blue;
     border-collapse:collapse;
     padding: 10px;
}
.EnvironmentsOuter
{
    border:1px solid red;height:8%;width:50%;
}
.Environments
{
    border:1px solid red;height:35%;width:50%;
}
.LightHeatingFanVentilator
{
    float:left;
}
.WindowIrrigationVentilator
{
    float:right;
}
.ManualAuto
{
    border:1px solid red;height:5%;width:30%;
}
/*.ControlValueSet
{
    border:1px solid red;height:35%;width:70%;
    
}*/
.Environments1
{
    border:1px solid red;height:20%;width:30%;
}
</style>
 <div class="ControlValueSet" >
                <h1>Control value set</h1><button type="submit" value="Submit">Submit</button>
                    <button type="button" name="Reset" value="Reset">Reset</button>
                    <hr>
                    <div class="AllValues">
                      Temp:<input type="text" value="20"/><sup>0</sup>C
                      Hum:<input type="text" value="50"/>%
                      Lum:<input type="text" value=""/>mV
                      <input type="text" value=""/>ppM
		               </div>
</div>

