
<h2> Required Climate Details</h2>

<p> Required Climate ID: {{requiredClimate.requiredClimateId}}</p>
<p> Crop Name: {{requiredClimate.cropName}}</p>
<p> Day Temperature: {{requiredClimate.dayTemperature}}</p>

<p> Night Temperature: {{requiredClimate.nightTemperature}}</p>
<p> Humidity: {{requiredClimate.humidity}}</p>

<p> Luminosity: {{requiredClimate.luminosity}}</p>
<p> Wave Length: {{requiredClimate.waveLength}}</p>
<p> Ec: {{requiredClimate.ec}}</p>

<p> Ph: {{requiredClimate.ph}}</p>



