 
<div class="form-group">
                <h1>New Yield </h1>
                <form #form="ngForm" (ngSubmit)="submit(form.value)" class="border">
                <table>
                <tr>
                    <td><label>ID:</label></td>
                    <td><input type="text" name="yieldId" ngModel></td>
                </tr>
                <tr>
                    <td><label>Quantity:</label></td>
                    <td><input type="text" name="quantity" ngModel></td>
                </tr>
                <tr>
                    <td><label>CropName:</label></td>
                    <td><input type="text" name="cropName" ngModel></td>
                </tr>
                <tr>
                      <td><label>Day:</label></td>
                      <td><input type="text" name="day" ngModel></td>
                </tr>
                 <tr>
                    <td> <label>Month:</label></td>
                    <td><input type="text" name="month" ngModel></td>
                </tr>
                <tr>
                    <td> <label>Year:</label></td>
                    <td><input type="text" name="year" ngModel></td>
                </tr>
                <tr>
                    <td> <label>GreenHouse:</label></td>
                    <td><input type="text" name="greenhouseName" ngModel></td>
                </tr>
                
                <tr>
                    <td><button type="submit">Submit</button> </td>
                </tr>
              </table>
            </form>
          </div>



